body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

#login {
	text-align: center;
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	width: 300px;
	margin: 0 auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

label {
	display: block;
	text-align: left;
	margin: 5px 0;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 5px;
	margin: 5px 0;
}

button[type="submit"],
button[type="reset"] {
	background-color: #0074d9;
	color: #fff;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
	background-color: #0056b3;
}

a {
	text-decoration: none;
	color: #0074d9;
}